<template>
  <a class="button">
    <slot />
  </a>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '~assets/scss/colors';

.button {
  border-radius: 5px;
  padding: 10px;
  display: block;
  &.yellow {
    background: $yellow;
    color: white;
  }
}
</style>
