<template>
  <label>
    <input
      type="checkbox"
      :checked="value"
      @input="$emit('input',$event.target.checked)"
    />
    <div class="checkbox">
      <img src="~assets/tick.svg" />
    </div>
    <slot />
  </label>
</template>

<script>
export default {
  props: ['value'],
};
</script>

<style lang="scss" scoped>
@import '~assets/scss/colors';

label {
  display: block;

  & > * {
    vertical-align: middle;
  }

  &.blue {
    input + .checkbox {
      border-color: $blue;
    }
  }

  input {
    display: none;
    &:checked + .checkbox {
      background: $yellow;
    }
  }
  .checkbox {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: white;
    border: 1px solid $yellow;
    border-radius: 3px;
    transition: background 0.3s;
    margin-right: 10px;

    img {
      width: 100%;
      margin-top: 2.5px;
    }
  }
}
</style>
