<template>
  <div
    class="select"
    :class="{toggled}"
    v-click-outside="toggleIfActive"
  >
    <a
      class="label"
      @click="toggle"
    >
      <slot />
    </a>
    <div class="content">
      <slot
        name="content"
        v-if="toggled"
      />
    </div>
  </div>
</template>

<script>
import ClickOutside from 'v-click-outside';

export default {
  data: () => ({ toggled: false }),

  methods: {
    toggle() {
      this.toggled = !this.toggled;
    },
    toggleIfActive() {
      if (this.toggled) this.toggle();
    },
  },
  directives: {
    clickOutside: ClickOutside.directive,
  },
};
</script>

<style lang="scss" scoped>
@import '~assets/scss/colors';

.label {
  cursor: pointer;
  &:after {
    border-color: $blue;
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: translate(50%, 0%) rotate(-225deg);
    content: '';
    transition: transform 0.3s;
  }
}
.toggled {
  .label:after {
    transform: translate(50%, 50%) rotate(-45deg);
  }
}
.select {
  position: relative;
}
.content {
  white-space: nowrap;
  position: absolute;
  left: 0;
}
</style>
