<template>
  <div class="filters">
    <custom-select>
      Авиакомпании
      <div
        class="carriers"
        slot="content"
      >
        <custom-checkbox
          class="carrier"
          v-for="(carrier,id) in carriers"
          :key="id"
          :value="carrier.enabled"
          @input="enableCarrier(id,...arguments)"
        >
          {{`${id} ${carrier.text}`}}
        </custom-checkbox>
      </div>
    </custom-select>
    <!-- data.json does not have information on direct/connecting so no handler here -->
    <custom-checkbox class="only-direct blue">
      Только прямые рейсы
    </custom-checkbox>
  </div>
</template>

<script>
import CustomSelect from './inputs/Select';
import CustomCheckbox from './inputs/Checkbox';

export default {
  props: ['carriers'],
  components: { CustomSelect, CustomCheckbox },

  methods: {
    enableCarrier(carrierId, enabled) {
      this.$emit('enable', carrierId, enabled);
    },
  },
};
</script>

<style scoped lang="scss">
.filters {
  display: flex;
  .only-direct {
    margin-left: 80px;
  }

  .carriers {
    background: white;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    .carrier {
      padding: 5px 15px;
      transition: background 0.3s;
      &:hover {
        background: #eee;
      }
    }
  }
}
</style>

