<template>
  <div>
    <flight-filters
      class="filters"
      :carriers="carriers"
      @enable="enableCarrier"
    />
    <flight-header />
    <!-- Because data.json doesnt contain flight id, I use random -->
    <flight
      v-for="flight in flights"
      :key="random()"
      :flight="flight"
      :icons="icons"
    />
  </div>
</template>

<script>
import Vue from 'vue';
import { flatMap } from 'lodash';
import Flight from './Flight';
import FlightHeader from './FlightHeader';
import FlightFilters from './FlightFilters';

export default {
  props: ['flightData'],
  data: () => ({
    carriers: {},
    icons: {},
  }),
  components: { Flight, FlightHeader, FlightFilters },

  beforeMount() {
    var flights = flatMap(this.flightData, 'flights');

    this.carriers = Vue.observable(
      flights
        .map(f => f.airline)
        .reduce((acc, f) => {
          if (f.code in acc) return acc;

          acc[f.code] = { enabled: true, text: f.name };
          return acc;
        }, {}),
    );

    Object.keys(this.carriers).forEach(code =>
      Vue.set(this.icons, code, import(`assets/${code}.png`)),
    );
  },
  computed: {
    flights() {
      var flights = this.flightData.reduce((acc, f) => {
        f.flights.forEach(fl =>
          Object.assign(fl, {
            flightDuration: f.flightDuration,
            price: f.price,
          }),
        );
        let filtered = f.flights.filter(
          ({ airline }) => this.carriers[airline.code].enabled == true,
        );

        let array = acc.concat(filtered);
        return array;
      }, []);

      return flights;
    },
  },
  methods: {
    enableCarrier(carrierId, enabled) {
      this.carriers[carrierId].enabled = enabled;
    },
    random() {
      return Math.random();
    },
  },
};
</script>

<style lang="scss" scoped>
.filters {
  margin-bottom: 10px;
}
</style>
