<template>
  <div class="flight-header">
    <div>Авиакомпания</div>
    <div class="flight">Рейс</div>
    <div class="time">Выбор времени</div>
    <div>Вылет - посадка</div>
    <div>Время в пути</div>
    <div class="action">
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '~assets/scss/colors';

.flight-header {
  width: 1000px;
  display: flex;
  background: $blue;
  color: white;
  padding: 0 5px;
  & > * {
    flex: 1 1;
    padding: 10px 10px;
  }
  .flight {
    flex: 0 0 10%;
  }
  .time,
  .action {
    flex: 0 0 20%;
  }
}
</style>
