<template>
  <div class="flight-container">
    <div class="carriers">
      <img
        :src="icon"
        :title="flight.airline.name"
      />
    </div>
    <!-- Так как в data.json нету данных про прямой или пересадка здесь оставляем -->
    <div class="flight">прямой</div>
    <div class="time">
      <custom-select>
        <a class="link">Выбрать другое время</a>
      </custom-select>
      <a class="link">Поделиться</a>
    </div>
    <div><b>{{flight.departureTime}}</b> - {{flight.arrivalTime}}</div>
    <div>{{duration}}</div>
    <div class="action">
      <custom-button class="yellow">Купить за {{price}} kzt</custom-button>
    </div>
  </div>
</template>

<script>
import CustomButton from './inputs/Button';
import CustomSelect from './inputs/Select';
import { chunkNumber } from '../helpers';

export default {
  props: ['flight', 'icons'],
  components: { CustomButton, CustomSelect },
  data: () => ({ icon: null }),

  beforeMount() {
    this.icons[this.flight.airline.code].then(src => (this.icon = src));
  },
  computed: {
    duration() {
      var duration = parseInt(this.flight.flightDuration);
      var hour = Math.floor(duration / 60);
      var minute = duration % 60;

      return `${hour > 0 ? `${hour}ч` : ''}${minute}м`;
    },
    price() {
      return chunkNumber(this.flight.price.toString());
    },
  },
};
</script>

<style lang="scss" scoped>
.flight-container {
  width: 1000px;
  display: flex;
  padding: 5px;
  align-items: flex-start;
  background: white;
  & > * {
    flex: 1 1;
    padding: 10px;
  }
  .action {
    flex: 0 0 20%;
  }
  .flight {
    flex: 0 0 10%;
  }
  .time {
    flex: 0 0 20%;
  }
  .carriers {
    img {
      max-width: 100%;
    }
  }
}
a.link {
  display: inline-block;
  border-bottom: 1px dashed #9ea3b7;
  cursor: pointer;
  white-space: nowrap;
}
</style>
