<template>
  <div id="app">
    <flights :flight-data="flightData" />
  </div>
</template>

<script>
import './assets/scss/app.scss';
import Flights from './components/Flights';
import flightData from '../data.json';

export default {
  name: 'App',
  components: { Flights },
  data: () => ({ flightData }),
};
</script>

<style scoped lang="scss">
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
</style>
